body{
<<<<<<< HEAD
    background: lightgreen
}

body{
    color: rgb(56, 52, 52)
}

#card {
  border-radius: 25px;
  border: 2px solid;
  width: 200px;
  height: 250px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
=======
    background: lightgreen;
    color: black;
>>>>>>> 31bdaeca66483166b8a2f9d72f2d9efc57af6ec2
}

.header {
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    background: #8f3805;
    color: white;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  img {
      max-width: 100%;
      height: auto;
      width: auto\9;
  }
